Dotify/src/org/daisy/dotify/obfl/resource-files/obfl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:complexType name="obfl">
		<xs:sequence>
			<xs:element ref="meta" minOccurs="0"/>
			<xs:element ref="layout-master" maxOccurs="unbounded"/>
			<xs:element ref="table-of-contents" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="volume-template" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="sequence" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="2011-1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang" use="required"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="obfl" type="obfl"/>
	<xs:complexType name="meta">
		<xs:sequence>
			<xs:any minOccurs="0" namespace="##any" processContents="lax" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="meta" type="meta"/>
	<xs:complexType name="layout-master">
		<xs:sequence>
			<xs:element ref="template" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="default-template"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:ID" use="required"/>
		<xs:attribute name="page-width" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="page-height" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="inner-margin" type="xs:anySimpleType"/>
		<xs:attribute name="outer-margin" type="xs:anySimpleType"/>
		<xs:attribute name="row-spacing" type="xs:anySimpleType"/>
		<xs:attribute name="duplex">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="page-number-variable" type="xs:anySimpleType"/>
		<xs:attribute name="frame">
			<xs:simpleType>
				<xs:restriction>
					<xs:simpleType>
						<xs:list>
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="solid"/>
									<xs:enumeration value="thin"/>
									<xs:enumeration value="wide"/>
									<xs:enumeration value="inner"/>
									<xs:enumeration value="outer"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:list>
					</xs:simpleType>
					<xs:maxLength value="3"/>
					<xs:minLength value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="layout-master" type="layout-master"/>
	<xs:complexType name="template">
		<xs:sequence>
			<xs:element ref="header"/>
			<xs:element ref="footer"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="template" type="template"/>
	<xs:complexType name="default-template">
		<xs:sequence>
			<xs:element ref="header"/>
			<xs:element ref="footer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="default-template" type="default-template"/>
	<xs:complexType name="header">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="field"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header" type="header"/>
	<xs:complexType name="footer">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="field"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="footer" type="footer"/>
	<xs:complexType name="field">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="marker-reference"/>
			<xs:element ref="string"/>
			<xs:element ref="current-page"/>
			<xs:element ref="evaluate"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="field" type="field"/>
	<xs:complexType name="current-page">
		<xs:attribute name="style" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="default"/>
					<xs:enumeration value="roman"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="current-page" type="current-page"/>
	<xs:complexType name="marker-reference">
		<xs:attribute name="marker" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="direction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="forward"/>
					<xs:enumeration value="backward"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="scope" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="page_content"/>
					<xs:enumeration value="page"/>
					<xs:enumeration value="sequence"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="marker-reference" type="marker-reference"/>
	<xs:complexType name="string">
		<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="string" type="string"/>
	<xs:complexType name="evaluate">
		<xs:attribute name="expression" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="evaluate" type="evaluate"/>
	<xs:complexType name="table-of-contents">
		<xs:sequence>
			<xs:element ref="toc-entry" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:element name="table-of-contents" type="table-of-contents"/>
	<xs:complexType name="toc-entry" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="leader"/>
			<xs:element ref="marker"/>
			<xs:element ref="anchor"/>
			<xs:element ref="br"/>
			<xs:element ref="evaluate"/>
			<xs:element ref="page-number"/>
			<xs:element ref="span"/>
			<xs:element ref="toc-entry"/>
		</xs:choice>
		<xs:attribute name="ref-id" type="xs:IDREF" use="required"/>
		<xs:attribute name="break-before">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="page"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="first-line-indent" type="xs:anySimpleType"/>
		<xs:attribute name="keep">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-previous-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="list-type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ul"/>
					<xs:enumeration value="ol"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="pl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="margin-bottom" type="xs:anySimpleType"/>
		<xs:attribute name="margin-left" type="xs:anySimpleType"/>
		<xs:attribute name="margin-top" type="xs:anySimpleType"/>
		<xs:attribute name="margin-right" type="xs:anySimpleType"/>
		<xs:attribute name="text-indent" type="xs:anySimpleType"/>
		<xs:attribute name="block-indent" type="xs:anySimpleType"/>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="toc-entry" type="toc-entry"/>
	<xs:complexType name="volume-template">
		<xs:sequence>
			<xs:element ref="pre-content"/>
			<xs:element ref="post-content"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
		<xs:attribute name="volume-number-variable" type="xs:anySimpleType"/>
		<xs:attribute name="volume-count-variable" type="xs:anySimpleType"/>
		<xs:attribute name="sheets-in-volume-max" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:element name="volume-template" type="volume-template"/>
	<xs:complexType name="pre-content">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="sequence"/>
			<xs:element ref="toc-sequence"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="pre-content" type="pre-content"/>
	<xs:complexType name="post-content">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="sequence"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="post-content" type="post-content"/>
	<xs:complexType name="toc-sequence">
		<xs:sequence>
			<xs:element ref="on-toc-start" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="on-volume-start" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="on-volume-end" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="on-toc-end" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="toc" type="xs:IDREF" use="required"/>
		<xs:attribute name="range" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="volume"/>
					<xs:enumeration value="document"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="use-when" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="master" type="xs:IDREF" use="required"/>
		<xs:attribute name="initial-page-number" type="xs:anySimpleType"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="toc-sequence" type="toc-sequence"/>
	<xs:complexType name="on-toc-start">
		<xs:sequence>
			<xs:element ref="block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="on-toc-start" type="on-toc-start"/>
	<xs:complexType name="on-volume-start">
		<xs:sequence>
			<xs:element ref="block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="on-volume-start" type="on-volume-start"/>
	<xs:complexType name="on-volume-end">
		<xs:sequence>
			<xs:element ref="block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="on-volume-end" type="on-volume-end"/>
	<xs:complexType name="on-toc-end">
		<xs:sequence>
			<xs:element ref="block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="on-toc-end" type="on-toc-end"/>
	<xs:complexType name="sequence">
		<xs:sequence>
			<xs:element ref="block" maxOccurs="unbounded"/>
			<xs:element ref="float-item" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="master" type="xs:IDREF" use="required"/>
		<xs:attribute name="initial-page-number" type="xs:anySimpleType"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="sequence" type="sequence"/>
	<xs:complexType name="float-item">
		<xs:sequence>
			<xs:element ref="block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:ID" use="required"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="float-item" type="float-item"/>
	<xs:complexType name="block" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="leader"/>
			<xs:element ref="marker"/>
			<xs:element ref="anchor"/>
			<xs:element ref="br"/>
			<xs:element ref="evaluate"/>
			<xs:element ref="page-number"/>
			<xs:element ref="span"/>
			<xs:element ref="block"/>
		</xs:choice>
		<xs:attribute name="break-before">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="page"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="first-line-indent" type="xs:anySimpleType"/>
		<xs:attribute name="keep">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-previous-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="list-type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ul"/>
					<xs:enumeration value="ol"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="pl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="margin-bottom" type="xs:anySimpleType"/>
		<xs:attribute name="margin-left" type="xs:anySimpleType"/>
		<xs:attribute name="margin-top" type="xs:anySimpleType"/>
		<xs:attribute name="margin-right" type="xs:anySimpleType"/>
		<xs:attribute name="text-indent" type="xs:anySimpleType"/>
		<xs:attribute name="block-indent" type="xs:anySimpleType"/>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="before"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="after"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-position" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="block" type="block"/>
	<xs:complexType name="span" mixed="true">
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="span" type="span"/>
	<xs:complexType name="marker">
		<xs:attribute name="class" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="marker" type="marker"/>
	<xs:complexType name="leader">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="left"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pattern" type="xs:anySimpleType"/>
		<xs:attribute name="position" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="leader" type="leader"/>
	<xs:complexType name="anchor">
		<xs:attribute name="float-item" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="anchor" type="anchor"/>
	<xs:complexType name="br"/>
	<xs:element name="br" type="br"/>
	<xs:complexType name="page-number">
		<xs:attribute name="ref-id" type="xs:IDREF" use="required"/>
		<xs:attribute name="style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="default"/>
					<xs:enumeration value="roman"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="page-number" type="page-number"/>
</xs:schema>
