Dotify/src/org/daisy/dotify/setups/common/validation/flow.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="layout-master" maxOccurs="unbounded"/>
				<xs:element ref="sequence" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="layout-master">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="template" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="default-template"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:ID" use="required"/>
			<xs:attribute name="page-width" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="page-height" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="inner-margin" type="xs:anySimpleType"/>
			<xs:attribute name="outer-margin" type="xs:anySimpleType"/>
			<xs:attribute name="row-spacing" type="xs:anySimpleType"/>
			<xs:attribute name="duplex">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="template">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="footer"/>
			</xs:sequence>
			<xs:attribute name="use-when" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="default-template">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="footer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="field"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="footer">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="field"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="marker-reference"/>
				<xs:element ref="string"/>
				<xs:element ref="current-page"/>
				<xs:element ref="evaluate"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="current-page">
		<xs:complexType>
			<xs:attribute name="style" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="default"/>
						<xs:enumeration value="roman"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="marker-reference">
		<xs:complexType>
			<xs:attribute name="marker" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="direction" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="backward"/>
						<xs:enumeration value="forward"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="scope" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="sequence"/>
						<xs:enumeration value="page"/>
						<xs:enumeration value="page_content"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="string">
		<xs:complexType>
			<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="evaluate">
		<xs:complexType>
			<xs:attribute name="expression" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sequence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="block" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="hyphenate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="initial-page-number" type="xs:anySimpleType" use="optional"/>
			<xs:attribute name="master" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="block">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="block"/>
				<xs:element ref="leader"/>
				<xs:element ref="marker"/>
				<xs:element ref="br"/>
			</xs:choice>
			<xs:attribute name="break-before">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="page"/>
						<xs:enumeration value="auto"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="first-line-indent" type="xs:anySimpleType"/>
			<xs:attribute name="keep">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="all"/>
						<xs:enumeration value="auto"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="keep-with-next">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="list-type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ul"/>
						<xs:enumeration value="none"/>
						<xs:enumeration value="ol"/>
						<xs:enumeration value="pl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="margin-bottom" type="xs:anySimpleType"/>
			<xs:attribute name="margin-left" type="xs:anySimpleType"/>
			<xs:attribute name="margin-top" type="xs:anySimpleType"/>
			<xs:attribute name="margin-right" type="xs:anySimpleType"/>
			<xs:attribute name="text-indent" type="xs:anySimpleType"/>
			<xs:attribute name="block-indent" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="marker">
		<xs:complexType>
			<xs:attribute name="class" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="leader">
		<xs:complexType>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="pattern" type="xs:anySimpleType"/>
			<xs:attribute name="position" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="br">
		<xs:complexType/>
	</xs:element>
</xs:schema>
